{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    {% if messages %}
    <div class="messages">
    <ul class="messages">
        {% for message in messages %}
        <li  class="info"> {{ message }} </li>
        {% endfor %}
    </ul>
</div>
    {% endif %}
    
        <meta name="description" content="We are an online kitchen company. For the appointment of showroom visits, please Call Us Now at 0800 211 8289 or email us at service@tkckitchens.co.uk.">
        <title>Contact us now to get information about latest offers and products</title>

    
	<meta name="referrer" content="no-referrer-when-downgrade">
	
	
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
	<script crossorigin="anonymous" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<meta name="vapid-key" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/png" href="/static/imgs/favicon.png">
	<link rel="stylesheet" href="/static/CACHE/css/output.56105e633c06.css" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="canonical" href="https://tkckitchens.co.uk/contactus/">

	
	<meta name=”twitter:url” content="https://tkckitchens.co.uk/contactus/" />
	<meta property="og:url" content="https://tkckitchens.co.uk/contactus/" />
	<meta property="og:title" content="Contact us now to get information about latest offers and products" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="We are an online kitchen company. For the appointment of showroom visits, please Call Us Now at 0800 211 8289 or email us at service@tkckitchens.co.uk." />
	<meta property="og:locale" content="en_GB" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Contact us now to get information about latest offers and products" />
	<meta name="twitter:description" content="We are an online kitchen company. For the appointment of showroom visits, please Call Us Now at 0800 211 8289 or email us at service@tkckitchens.co.uk." />
	<meta name="twitter:image" content="https://tkckitchens.co.uk/static/imgs/favicon.png" />
	<meta property="og:image" content="https://tkckitchens.co.uk/static/imgs/favicon.png" />
	

</head>
<body>
<div class="top-header container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <i class="fa fa-phone"></i><span class="tab">08001182291</span>
        </div>
        <div class="col-lg-6">
            <i class="far fa-envelope"></i><span class="tab">service@tkckitchens.co.uk</span>
        </div>
        <div class="col-lg-4 right-col">
            <form class="m-0 d-flex align-self-center" action="/searchresults/" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="C4MBQEriQB7j0h9eBwt4ctJ3pOxf2vjHEkOCApMzZWuhZVxtwjmBojjIpndmW2eM">
            <button class="btn btn-success" style="background-color: transparent;border: 0;">
                <i class="fas fa-search" style="color: #707070;"></i>                
            </button>
                <input type="text" name="search" placeholder="Search..." class="form-control">
            </form>
        </div>
        </div>
    </div>
</div>
            <!--<div id='top-bar' class="align-self-center d-flex justify-content-around" style="width: 40%">
                

                

                <a href="/login/" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Login</a>
                <a href="/signup/" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Register</a>

                

            </div>-->
                <!--<form class="m-0 d-flex align-self-center" action="/searchresults/" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="C4MBQEriQB7j0h9eBwt4ctJ3pOxf2vjHEkOCApMzZWuhZVxtwjmBojjIpndmW2eM">
                <input type="text" name="search" placeholder="Search..." class="form-control">
                <button class="btn btn-success">
                    <i class="fas fa-search"></i>

                </button>
                </form>-->











<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content:center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ourkitchens/">Kitchen Styles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            WorkTops
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <a class="dropdown-item" href="/worktop/solid-surface-worktops/">Solid Surface Worktops</a>
            
            <a class="dropdown-item" href="/worktop/solid-laminate-worktops/">Solid Laminate Worktops</a>
            
            <a class="dropdown-item" href="/worktop/stone-worktops/">Stone Worktops</a>
            
            <a class="dropdown-item" href="/worktop/laminate-worktops/">Laminate Worktops</a>
            
            <a class="dropdown-item" href="/worktop/wood-worktops/">Wood Worktops</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Appliances
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <a class="dropdown-item" href="/appliances/cooker-hood/">Cooker Hood</a>
            
            <a class="dropdown-item" href="/appliances/cooking/">Cooking</a>
            
            <a class="dropdown-item" href="/appliances/refrigeration/">Refrigeration</a>
            
            <a class="dropdown-item" href="/appliances/laundry/">Laundry</a>
            
            <a class="dropdown-item" href="/appliances/dishwashers/">Dishwashers</a>
            
            <a class="dropdown-item" href="/appliances/hobs/">Hobs</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/installationservice/">Installation</a>
            <a class="dropdown-item" href="/designservice/">Design</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Kitchen Trends
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/trends/">Trends</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/cutler-tray/">Cutler Tray</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/wirework/">Wirework</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/bins/">Bins</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/lighting/">Lighting</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/sinks-taps/">Sinks &amp; Taps</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/handles/">Handles</a>
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus/">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart/"><i class="fa fa-shopping-cart"></i></a>
          
        </li>
        
        
        <li class="nav-item">
          <a href="/login/" class="btn">Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup/" class="btn">Register</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>














<!--<div class="d-flex justify-content-center p-4 mt-2 bg-white desktop" id="second_bar" >
    <div class="d-flex justify-content-around" style="width: 70%">
        <a href="/" style="color:inherit;font-weight: 600;text-decoration: none;cursor:pointer;" class="a_btn">Home</a>

        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"

               class=" a_btn " href="/ourkitchens/">Kitchen Styles</a>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="a_btn dropdown-toggle">WorkTops</a>

          <div class="dropdown-menu p-0">
              
                <a class="dropdown-item dropHover" href="/worktop/solid-surface-worktops/">Solid Surface Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/solid-laminate-worktops/">Solid Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/stone-worktops/">Stone Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/laminate-worktops/">Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/wood-worktops/">Wood Worktops</a>
            

          </div>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Appliances</a>

          <div class="dropdown-menu p-0">
              
                <a class="dropdown-item dropHover" href="/appliances/cooker-hood/">Cooker Hood</a>
            
                <a class="dropdown-item dropHover" href="/appliances/cooking/">Cooking</a>
            
                <a class="dropdown-item dropHover" href="/appliances/refrigeration/">Refrigeration</a>
            
                <a class="dropdown-item dropHover" href="/appliances/laundry/">Laundry</a>
            
                <a class="dropdown-item dropHover" href="/appliances/dishwashers/">Dishwashers</a>
            
                <a class="dropdown-item dropHover" href="/appliances/hobs/">Hobs</a>
            

          </div>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Services</a>

          <div class="dropdown-menu p-0">
                <a class="dropdown-item dropHover a_btn" href="/installationservice/">Installation</a>
                <a href="/designservice/" class="dropdown-item dropHover a_btn">Design</a>
          </div>
        </div>

        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Kitchen Trends</a>

          <div class="dropdown-menu p-0">
	          <a href="/trends/" style="text-decoration: none;cursor:pointer;" class="dropdown-item dropHover">Trends</a>

              
                <a class="dropdown-item dropHover" href="/kitchen-accessories/cutler-tray/">Cutler Tray</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/wirework/">Wirework</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/bins/">Bins</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/lighting/">Lighting</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/sinks-taps/">Sinks &amp; Taps</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/handles/">Handles</a>
            

          </div>
        </div>

        <a style="color:inherit;font-weight: 600;text-decoration: none;cursor:pointer;" href="/contactus/" class="a_btn">Contact Us</a>
        <a href="/cart/" style="font-weight: 600;text-decoration: none;cursor:pointer;color: black" class="a_btn align-self-center"><img src="/static/Svg/cart2.svg" height="20px" alt="Cart svg"></a>
        
    </div>
</div>








    <div class="text-center my-3 menu" >
        <a class="p-1 pl-2 pr-2 " onclick="mobile_click(event)"
           style="border: 1px solid rgb(46, 154, 13);color: rgb(46, 154, 13);border-radius: 8px;
           width: fit-content">Menu</a>
    </div>



    <div id="menu_div" class="fade-out-menu text-center" style="visibility: hidden;height: 0">

            <div class="text-center py-2">
                <a href="/" style="text-decoration: none;cursor:pointer;"
                class="text-secondary d-block pb-1 mb-2 border-bottom">Home</a>
            </div>

        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"

               class="text-secondary a_btn " href="/ourkitchens/">Kitchen Styles</a>

        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">WorkTops</a>

          <div class="dropdown-menu">
              
                <a class="dropdown-item dropHover" href="/worktop/solid-surface-worktops/">Solid Surface Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/solid-laminate-worktops/">Solid Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/stone-worktops/">Stone Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/laminate-worktops/">Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/wood-worktops/">Wood Worktops</a>
            

          </div>
        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Appliances</a>

          <div class="dropdown-menu pb-1 mb-2 border-bottom">
              
                <a class="dropdown-item dropHover" href="/appliances/cooker-hood/">Cooker Hood</a>
            
                <a class="dropdown-item dropHover" href="/appliances/cooking/">Cooking</a>
            
                <a class="dropdown-item dropHover" href="/appliances/refrigeration/">Refrigeration</a>
            
                <a class="dropdown-item dropHover" href="/appliances/laundry/">Laundry</a>
            
                <a class="dropdown-item dropHover" href="/appliances/dishwashers/">Dishwashers</a>
            
                <a class="dropdown-item dropHover" href="/appliances/hobs/">Hobs</a>
            

          </div>
        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Services</a>

          <div class="dropdown-menu pb-1 mb-2 border-bottom">
                <a class="dropdown-item dropHover a_btn" href="/installationservice/">Installation</a>
                <a href="/designservice/" class="dropdown-item dropHover a_btn">Design</a>
          </div>
        </div>

        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Kitchen Trends</a>

          <div class="dropdown-menu p-0">
	          <a href="/trends/" style="text-decoration: none;cursor:pointer;" class="dropdown-item dropHover">Trends</a>

              
                <a class="dropdown-item dropHover" href="/kitchen-accessories/cutler-tray/">Cutler Tray</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/wirework/">Wirework</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/bins/">Bins</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/lighting/">Lighting</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/sinks-taps/">Sinks &amp; Taps</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/handles/">Handles</a>
            

          </div>
        </div>

        <div class="py-2">
            <a style="text-decoration: none;cursor:pointer;" href="/contactus/" class="text-secondary d-block pb-1 mb-2 border-bottom">Contact Us</a>
        </div>


        <div class="py-2">
	        <a href="/cart/" style="text-decoration: none;cursor:pointer;color: black" class="a_btn align-self-center d-block pb-1 mb-2 border-bottom"><img src="/static/Svg/cart2.svg" height="20px" alt="Cart svg"></a>
	        
        </div>

    </div>-->







<!-- banner -->
<div class="container-fluid contact-banner">
    <div class="row contact-banner-inner">
        <div class="contact-banner-heading container">
            <h1>Contact Us</h1>
            <p>
                We consider our customer's feedback and queries very important.<br>
                Contact us through following form regarding feedback or any<br>
                questions
            </p><br>
            <div class="fonts-in-banner">
                <i class="fa fa-phone"></i><span class="tab">08001182291</span><br>
                <i class="far fa-envelope"></i><span class="tab">service@tkckitchens.co.uk</span>
            </div>
        </div>
    </div>
</div>

<div class="container choose-us-contact-us">
    <h1>Free Kitchen Design & Planning Advice</h1>
    <p style="font-size: 30px;">
        With our years of experience our designer will design Your Perfect Kitchen.<br> Make that Kitchen design a Reality.
    </p>
</div>

 <!--Contact Form-->


 <div class="container contact-form">
    <div class="row contact-row">
        <div class="col-sm-6 book-text">
            <h1>Book A Free Appointment Today</h1><br>
            <p>
                CHAT TO US Either Online here or Book your free kitchen design consultation with one of 
                our designers by filling the below form? You can chat through anything you need, 
                including layout and design requirements.
                You can even see what your kitchen will look like before you buy it.
            </p>
        </div>
        <div class="col-1"></div><br>
        <div class="col-sm my-form">
            <form action="" method="post">
                {% csrf_token %}
{{ form.as_p }}
               <!--<label>Reason for contacting us</label>
                <div class="row checkbox-row">
                    <div class="col-2 checkbox-col">
                        <input type="checkbox" name="check1" value="Order and Support">
                    </div>
                    <div class="col checkbox-p">
                        <p>Order & Support Queries</p>
                    </div>
                </div>
                <div class="row checkbox-row">
                    <div class="col-2 checkbox-col">
                        <input type="checkbox" name="check1" value="Installed Projects">
                    </div>
                    <div class="col checkbox-p">
                        <p>Installed Projects</p>
                    </div>
                </div>
                <div class="row checkbox-row">
                    <div class="col-2 checkbox-col">
                        <input type="checkbox" name="check1" value="Other">
                    </div>
                    <div class="col checkbox-p">
                        <p>Other</p>
                    </div>
                </div>
                <div class="row checkbox-row">
                    <div class="col-2 checkbox-col">
                        <input type="checkbox" name="check1" value="Feedback">
                    </div>
                    <div class="col checkbox-p">
                        <p>Feedback</p>
                    </div>
                </div>
                <div class="row checkbox-row">
                    <div class="col-2 checkbox-col">
                        <input type="checkbox" name="check1" value="Free Sample">
                    </div>
                    <div class="col checkbox-p">
                        <p>Free Sample</p>
                    </div>
                </div>-->
                <label class="further-info">
                    For further information about how we use your personal data
                    please see our <a href="#">GDRP Policy</a> and <a href="#">Terms & Conditions</a>.
                </label><br>
                <div class="col-sm text-center" style="padding-bottom: 15px;">
                    <button type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
 </div>

 <div class="container free-call-container" style="padding-bottom: 20px;">
    <div class="row free-call-text">
        <div class="col-sm-5">
            <h2>
                Give Us A Call and Get A Free Quote!
            </h2><br>
            <p>
                We can Plan, Design,Supply and Install the kitchen the material or fit the kitchen. 
                Your house is your home but it’s also your investment. In the long term it is worthwhile getting 
                the best possible plan, design and installation. We provide quality materials that are stylish but also practical.
            </p>
            <p>
                We check the market on a regular basis and compare our prices with well known national warehouse 
                kitchen suppliers and we know we can Save you Money.

            </p>
        </div>
        <div class="col">
            <img width="100%" style="border-radius: 4px;" src="/static/imgs/Compressed_Lucente%20Matt%20Anthracite%20Main.png" alt="image">
        </div>
    </div>
</div>




















<!--<div  class="p-3">
    <div style="width: 70%;margin: auto" id="search_in">
        <form action="/contactus/" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="C4MBQEriQB7j0h9eBwt4ctJ3pOxf2vjHEkOCApMzZWuhZVxtwjmBojjIpndmW2eM">
            
            <div class="card p-3 mb-3 shadow" style="border-radius: 8px">
                <h1>Contact Us</h1>
                <p>We consider our customer's feedback and queries very important. Contact us through following form regarding feedback or any questions</p>
                <p>Phone: 08001182291</p>
                <p>Email: service@tkckitchens.co.uk</p>
            </div>
			<div class="d-flex justify-content-between" id="display_b">
                <div class="card p-3 mb-3 shadow " style="width: 45%;border-radius: 8px" id="search_in">
            <label for="" class="d-block" >
                Name
                <input placeholder="Name" required name="name" type="text" class="form-control" ></label>

            <label for="" class="d-block">
                Email Address
                <input placeholder="Email" required name="email" type="text" class="form-control"></label>

            <label for="" class="d-block">
                Phone Number
                <input placeholder="Phone Number" required name="phone" type="text" class="form-control"></label>
                <div class="text-center">
	                <small>For further information about how we use your personal data please see our <a href="/GDPR/">
	        GDPR
Policy
        </a> and <a href="/terms-and-conditions/">Terms &amp; conditions.</a></small>
                </div>            </div>

                <div class="card p-3 mb-3 shadow w-50 align-self-center" id="search_in" style="border-radius: 8px">
            <label for="" class="d-block">
                Order Number(If applicable)
                <input placeholder="Order Number" name="order" type="text" class="form-control"></label>


            <label for="" class="d-block">
                Reason for contacting us
                <div>
                    <input type="checkbox"  name="check1" value="Order and Support" class="my-2"><label class="pl-2">Order & Support Queries</label>

                </div>
                <div>
                    <input type="checkbox"  name="check1" value="Installed Projects" class=""><label class="pl-2">Installed Projects</label>

                </div>

                <div>
                    <input type="checkbox"  name="check1" value="Other" class=" my-2"><label class="pl-2">Other</label>

                </div>
                <div>
                    <input type="checkbox"  name="check1" value="Feedback" class=""><label class="pl-2">Feedback</label>

                </div>                <div>
                    <input type="checkbox"  name="check1" value="Free Sample" class=""><label class="pl-2">Free Sample</label>

                </div>
            </label>


            <label for="" class="d-block">
                Detail
                <textarea placeholder="Detail" required name="detail" class="form-control"></textarea></label>
            </div>
			</div>
        <script src='https://www.google.com/recaptcha/api.js'></script>
         <div class="g-recaptcha mx-auto" data-callback="recaptchaCallback" style="width: fit-content" data-sitekey="6LeKPnocAAAAAEnW1LncwgOqxXCQ3yqIWMs2rIxm"></div>
       <div class="text-center">
            <button class="btn btn-success" disabled id="captchaBtn">Submit</button>
	        </div>

        </form>
    </div>
</div>-->






<div class="modal fade" id="news">
    <div class="modal-dialog modal-dialog-centered">
        <div style="border: 4px solid green!important;" class="modal-content">
            <div class="modal-header">
                <h4 id="msg" class="text-center"></h4>

            </div>
        </div>

    </div>
</div>



<div class="bg-dark text-white p-4" id="footer">
    <div class="p-4" id="footer" style="width: 90%;margin: auto">
    <div class="row pb-2 m-0" id="search_in">
        <div class="col-lg-6 align-content-middle p-0" id="search_in">
            <h3 class="m-0 p-2">Signup for our Newsletter</h3>
        </div>

        <div class="col-lg-6 d-flex justify-content-right align-self-center" id="search_in" >
            <input type="email" placeholder="Your Email"  class="form-control" id="search_in" style="width: 50%!important;">
            <button data-target="#news" data-toggle="modal" onclick="subscribe1(event)" class=" btn btn-success " style="height: 70%">Subscribe</button>
                        <p id="sub" class="ml-2 align-self-center m-0"></p>
        </div>
    </div>
    <hr class="bg-white"/>
    <div class="d-flex justify-content-around block">
        <div class="">
            <p><i class="fas fa-map-marker-alt"></i><span class="p-2">5 Piccadilly Place, Manchester, M1 3BR</span></p>
            <p><i class="fas fa-phone-alt align-self-center"></i><a style="color:inherit;text-decoration: none" href="tel:+08002118289" class="m-0 p-2">08001182291</a></p>
            <p><i class="fas fa-envelope align-self-center"></i><a style="color: inherit;text-decoration: none;" href="https://mail.google.com/mail/?view=cm&fs=1&to=service@tkckitchens.co.uk" class="m-0 p-2">service@tkckitchens.co.uk</a></p>
            <div class="my-3">
	            <img src="/static/imgs/Payment.png" loading="lazy" id="pay" width="100%" height="50px" alt="tkc-kitchen payment">
            </div>


        </div>
        <div class="align-self-baseline">
            <p>
                <a style="text-decoration: none;color: inherit" href="/terms-and-conditions/" class="a_btn mb-2">Terms & conditions</a>
</p>
            <p><a style="text-decoration: none;color: inherit" href="/shipping-policy/" class="a_btn mb-2">Shipping and Delivery policy</a></p>
            <p><a class="a_btn" href="/contactus/" style="text-decoration: none;color: inherit">Customer Service</a>
</p>
            <p><a href="/FAQ/" class="a_btn" style="color: inherit;text-decoration: none">FAQs</a></p>
        </div>
        <div class="">
            <p><a href="/return-refund/" class="a_btn" style="color: inherit;text-decoration: none">Return & Refund policy</a></p>
            <p><a href="/Cancellation-policy/" class="a_btn" style="color: inherit;text-decoration: none">Cancellation policy</a></p>
            <p><a href="/GDPR/" class="a_btn" style="color: inherit;text-decoration: none">GDPR policy</a></p>
            <p><a href="/Cookies/" class="a_btn" style="color: inherit;text-decoration: none">Cookies policy</a></p>
            <p><a href="/intellectual-property-notification/" class="a_btn" style="color: inherit;text-decoration: none">Intellectual property notification</a></p>
            <p><a href="/disclaimer/" class="a_btn" style="color: inherit;text-decoration: none">Disclaimer policy</a></p>
            <p><a class="a_btn" style="color: inherit;text-decoration: none">Ziegal Ltd(10914681)</a></p>

        </div>
        <div class="">
            <a href="https://www.facebook.com/tkckitchens.co.uk" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-facebook-f"></i><span class="pl-2">Facebook</span></a>
            <a href="https://www.pinterest.co.uk/TKCkitchens/_created/" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-pinterest-p"></i><span class="pl-2">Pinterest</span></a>
            <a href="https://www.instagram.com/tkckitchens.co.uk/" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-instagram"></i><span class="pl-2">Instagram</span></a>
        </div>
    </div>
</div>
    <p class="text-center border-top border-bottom m-0 p-3">Copyright&copy; 2021 TKC KITCHENS</p>

</div>


<!--Start of Tawk.to Script-->
<script async type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/609415aab1d5182476b65aae/1f51799m6';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
    <!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Facebook Pixel Code --><!-- End Facebook Pixel Code -->

<script async type="text/javascript" src="/static/js/index.js">
</script>

<!-- mobile menu js 
<script>
     function mobile_click(e) {
        const menu = document.getElementById('menu_div')
		if (menu.style.visibility === 'hidden') {

            menu.style.height = 100+'%'
            menu.classList.remove('fade-out-menu')
            menu.classList.add('fade-in-menu','p-5')
            menu.style.visibility = 'visible'
        }
        else{

            menu.style.height = 0

            menu.classList.remove('fade-in-menu','p-5')
            menu.classList.add('fade-out-menu')
            menu.style.visibility = 'hidden'
        }

    }

      if (window.innerWidth<1161) {
        const pay = document.getElementById('pay')
            pay.style.height = 35 + 'px'
            pay.style.width = 90 + '%'

    }


</script>-->

<script>
	function recaptchaCallback() {
        document.getElementById('captchaBtn').removeAttribute('disabled')
	}
</script>
<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '244190073982241'); fbq('track', 'PageView');</script><noscript> <img height="1" width="1" alt="Facebook" src="https://www.facebook.com/tr?id=244190073982241&ev=PageView&noscript=1"/></noscript><!-- End Facebook Pixel Code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKLM57GY6R"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WKLM57GY6R');
    </script>



</html>
